<ion-header>
  <ion-toolbar class="background-color-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
      <ion-title>Login</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<div *ngIf='loggedOut'>
  <app-tab1></app-tab1>
 </div>

<ion-content #loggedOut>
    <ion-text *ngIf="isLoginFailed" color="danger">
      <p>Username or password not correct</p>
    </ion-text>
    <ion-spinner name="bubbles" color="primary" class="center" *ngIf="showSpinner"></ion-spinner>
    <ion-card>
      <ion-card-header color="danger">
        <ion-card-title><ion-icon name="person-circle-outline"></ion-icon> Login </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <form name="form" (ngSubmit)="formRegister.form.valid && onSubmit()" #formRegister="ngForm" novalidate>

          <ion-item>
            <ion-input type="text" id="username" placeholder="Enter username" name="username" [(ngModel)]="form.username" #username="ngModel" required></ion-input>
            <ion-text color="danger" *ngIf="formRegister.submitted && username.invalid" class="alert alert-danger">
              <h4 *ngIf="username.errors.required">Username</h4>
            </ion-text>
          </ion-item>


          <ion-item>
            <ion-input type="password" id="password" placeholder="Enter password" name="password" [(ngModel)]="form.password" #password="ngModel" required></ion-input>
            <ion-text color="danger" *ngIf="formRegister.submitted && password.invalid" class="alert alert-danger">
              <h4 *ngIf="password.errors.required">Password</h4>
            </ion-text>
          </ion-item>

          <br>
          <ion-button type="submit" color="primary" fill="solid" size="large" expand="block" [disabled]="username.invalid ||
                           password.invalid">Login</ion-button>
        </form>

        <br>
        <ion-text color="dark">
          <h2>I don't have an account</h2>
        </ion-text>
        <ion-button expand="full" fill="outline" routerLink="/menu/register">Register</ion-button>

      </ion-card-content>
    </ion-card>
</ion-content>
