ion-badge {
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100%;
  cursor: pointer;
}

.category-block {
  margin-bottom: 4px;
}
.category-banner {
  border-left: 8px solid var(--ion-color-secondary);
  background: var(--ion-color-light);
  height: 40px;
  padding: 10px;
  font-weight: 500;
}
