.header {
  background: #e74c3c;
  height: 180px;
  padding-top: 1px;
}
.header h2 {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}
.header .space-between {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0 10px;
}
.header .followings {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header .followings p {
  color: #ffffff;
  margin: 8px 0 0 0;
}
.img-box {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  overflow: hidden;
}
.border-white {
  border: 4px solid #ffffff;
  border-radius: 50%;
  width: fit-content;
}
.border-blue {
  border: 7px solid #c0392b;
  border-radius: 50%;
  width: fit-content;
}
.flex {
  display: flex;
  justify-content: center;
  margin-top: -76px;
}
.tweet {
  margin-top: -10px;
}
.tweet ion-label {
  line-height: 1 !important;
  font-size: 15px;
  margin: 6px 0 !important;
  min-height: 34px;
}
.tweet-img {
  width: 95%; 
  margin-left: 2.5%; 
  border-radius: 10px;
}