<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Ionic Dark Mode
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  
  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
 
    <br>
 
    <ion-button (click)="toggleDakMode()" expand="block" color="primary" shape="round">
   Toggle Dark Mode
 </ion-button>
 
  </div>
</ion-content>
